@import "tailwindcss";




body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
  background-image: url(/image.png);
  background-position: none;
  position: relative; 
  overflow-x: hidden;
  background-color: white !important;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  color: white;
  z-index: 10;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-img {
  width: 60px;
  height: 40px;
  font-size: large;
  font-weight: 200;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}


.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  list-style: none; 
}

.nav-links li {
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.3s; 
  color: white;
}

.nav-links li:hover,
.nav-links .active {
  color: #6f4aff; 
  color: #7d5fff; 
}


.nav-links li a.active {
  color: #7d5fff; 
  border-bottom: 2px solid #7d5fff; 
}

.nav-right {
  margin-right: 15%;
}



.demo-btn {
  background: whitesmoke;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}



.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-overlay {
  color: white;
  width: 1000px;
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 500px;
  text-align: center;
  position: absolute; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}


.hero-overlay h1 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  max-width: 800px;
  margin-bottom: 20px;
}

.hero-overlay p {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.get-started {
 border: 2px ;
  padding: 12px 25px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  background: #4A6CF7;
}

.learn-more {
  border: 2px ;
  padding: 12px 25px;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
}

.page-home {
  background: none !important;
}

.page-services {
  min-height: 100vh;
  margin-top: 20%;
  overflow-x: hidden;
  background: #ffffff !important;
  color: #000;
  padding: 80px 20px;
}

.page-services h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-services p {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  background-color: whitesmoke;
  color: #000;
  gap: 15px;
  margin-right: 15px;
  border-radius: 15px;
  border-radius: 25px;
}

.page-contact {
  min-height: 100vh;
  background: white !important;
  color: #000;
  padding: 80px 20px;
}

.page-contact h1 {
  display: flex;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-contact p {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.page-Features {
  background: white !important;
  padding: 80px 20px;
}

.page-Features h1 {
  display: flex;
  gap: 50;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}


.page-Features p {
  display: flex;
  background-color: #000;
  align-items: center;
  text-align: center;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
  gap: 15;
}



